<!doctype html>
<html>
    <head>
        <style>
            .nav_link {
                padding-left: 10px
            }
            .error {
                color: red;
            }
        </style>
    </head>
        <header>
            <a href="/">Home</a>
            <a class="nav_link" href="/blog">All Posts</a>
            <a class="nav_link" href="/newpost">New Post</a>
            <a class="nav_link" href="/login">Login</a>
            <a class="nav_link" href="/logout">Logout</a>
        </header>   
        <title>{{title}}</title>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>